/* Basic */

body {
  margin: 0;
  overflow-x: hidden;
}

.browserupgrade {
  margin: 0;
  padding: .5em 1em;
  background-color: #fcfcfc;
  text-align: center;
}


/* Header */

.docs-header {
  margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  border-color: #0074d9;
}

.navbar-toggle .icon-bar {
  background-color: #0074d9;
}



/* Content */

.img-container,
.img-preview {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
  cursor: move;
}

.img-container {
  min-height: 200px;
  max-height: 516px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 516px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  /*margin-top: 40px;*/
  margin-right: -15px;
  max-height: 600px;
  overflow-y: auto;
}

.img-preview {
  /*float: left;*/
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}


.img-preview.is-used {
  opacity: 0.25;
}

.preview-lg {
  width: 263px;
  height: 148px;
}

.preview-md {
  width: 139px;
  height: 78px;
}

.preview-sm {
  width: 69px;
  height: 39px;
}

.preview-xs {
  width: 35px;
  height: 20px;
  margin-right: 0;
}

.docs-data > .input-group {
  margin-bottom: 10px;
}

.docs-data > .input-group > label {
  min-width: 80px;
}

.docs-data > .input-group > span {
  min-width: 50px;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: 5px;
  margin-bottom: 10px;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: 10px;
}

.docs-tooltip {
  display: block;
  margin: -6px -12px;
  padding: 6px 12px;
}

.docs-tooltip > .icon {
  margin: 0 -3px;
  vertical-align: top;
}

.tooltip-inner {
  white-space: normal;
}

.btn-upload .tooltip-inner {
  white-space: nowrap;
}

@media (max-width: 400px) {
  .btn-group-crop {
    margin-right: -15px!important;
  }

  .btn-group-crop > .btn {
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn-group-crop .docs-tooltip {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  padding: 3px 20px;
}

.docs-options .dropdown-menu > li:hover {
  background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
  display: block;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}




/* Additions */

.close-icon{
  background-image: url("../../assets/img/close-icon.png");
  position: absolute;
  width: 20px;
  height: 20px;
  right: -25px;
  top: 0px;
  background-color: white;
}

  .close-icon:hover{
    cursor: pointer;
  }

  .close-icon-preview{
    background-image: url("../../assets/img/close-icon.png");
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 0px;
    background-color: white;
  }


  .scale-icon{
    background-image: url("../../assets/img/resize-handler.png");
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    bottom: 0px; 
  }

  .close-icon-preview:hover{
    cursor: pointer;
  }

.next-step a{
  color: white;
  text-decoration: none;
}


/*d3*/
#svg-container{
  /*width: 100%;*/
  /*width: 540px;
  height: 640px;*/
  /*height: 700px;*/
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 3px dashed grey;
  display: none;
}

  .left-hand,
  .left-leg{
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .right-hand,
  .right-leg{
    -webkit-transform-origin: 0% 0%;
    transform-origin: 100% 0%;
  }

  .pivot{
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: black;
      border-radius: 50%;
      z-index: 2;
      transform: scale(1);
    }

    .pivot.active{
      cursor: pointer;
      background: red;
    }

    .pivot.inactive{
      opacity: 0.3;
    }

    .pivot.unselected{
      transform: scale(0.6);
    } 

  .offset-preview{
    cursor: initial;
  }


.img-preview {
  transform: scale(1);
  transition: transform 1s;
}

.img-preview.active {
  transform: scale(0.8);
  outline: 6px solid lightblue;
}

.img-container {
  display: none;
}

.img-container.active{
  display: block;
}

.left-col.active {
  border: 5px solid lightblue;
}

#svg-container.active {
  display: block;
}

#svg-container .img-preview {
  visibility: hidden;
}

  #svg-container .img-preview.active{
    transform: scale(1);
    visibility: visible;
    outline: none;
    cursor: move;
  }

.dropdown-container {
  display: inline-block;
  vertical-align: top;
}

.btns-container {
  display: none;
}

.btns-container.active {
  display: block;
}