.tabs-container {
	width: 25%;
	margin: 50px auto;
}

	.tabs-container ul {
		float: left;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
	}

		.tabs-container li>a {
			color: black;
			background-color: #efe5e0;
		}
		
		.tabs-container li.active>a {
			/*color: white;*/
			/*background-color: #00E08C;*/
		}
			.tabs-container li.active>a:hover {
				cursor: default;
			}